@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-divider {
	position: absolute;
	display: table;
	text-align: center;
	
	height: 100%;
	/* width: 100%; */
	
	.center-element {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		
		&:before, &:after {
			position: absolute;
			content: "";
			width: 1px;
			left: 50%;
			border-left: 1px solid #8D989D;
		}
		&:before {
			bottom: 50%;
			top: 0;
			margin-bottom: 20px;
		}
		&:after {
			top: 50%;
			bottom: 0;
			margin-top: 20px;
		}
	}
}
.horizontal-divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }

    &.line {
        align-items: center;
        margin: 1em -1em;
        
        &:before,
        &:after {
          height: 1px;
          margin: 0 1em;
        }
    }

    &.one-line {
        &:before,
        &:after {
          background: #8D989D;
        }
    }
    
}
  