@tailwind components;
.main-header {
    @apply absolute top-0 w-full flex flex-col z-[15];
    .main-header-top {
        @apply h-[10px] flex justify-end items-center bg-primary text-white;
        .logo-area {
            @apply w-[50%] flex items-center ;
            img {
                @apply w-[218px];
            }
        }
        
    }
    .main-header-bottom {
        @apply py-[10px] px-[79px] flex justify-between items-center border-b border-b-neutral-200 z-[10] w-full bg-white rounded-bl-[19px] rounded-br-[19px];
        .burger-menu {
            @apply hidden;
        }
        .main-header-menu {
            @apply relative flex items-center gap-[54px];
            img {
                @apply w-[128px] h-[36px];
            }
            ul {
                @apply flex items-center text-[12px]/[14.52px] font-semibold gap-[17px];
                li {
                    @apply relative  font-medium cursor-pointer text-neutral-900;
                    a {
                        @apply block py-[10px];
                    }
                    &.active {
                        @apply text-primary;
                    }
                    &:hover {
                        @apply text-primary;
                    }
                    &.has-sub {
                        a {
                            @apply flex gap-[4px] items-center;
                        }
                        .submenu {
                            @apply absolute left-0 m-0 list-none w-[150px] hidden bg-white  duration-300 transition-all z-10;
                            box-shadow: 0px 4px 16px 0px #0000001A;
    
                            .submenu {
                                position: absolute;
                                left: 150px;
                                top: 0px;
                            }
                            li {
                                @apply text-black;
                                a {
                                    @apply flex justify-between px-[10px] py-[5px] items-center;
                                    svg {
                                        @apply -rotate-90
                                    }
                                }
                            }
                        }
                        &:hover {
                            @apply text-primary;
                            > .submenu {
                                @apply block;
                                li {
                                    &:hover {
                                        @apply text-primary;
                                        > .submenu {
                                            @apply block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .flags-menu {
                @apply relative flex;
                &::before {
                    content: "";
                    @apply mx-[20px] border-l border-l-neutral-300;
                }
                a {
                    &.flag-button {
                        @apply flex items-center gap-[4px] cursor-pointer;
                        img {
                            @apply w-[28px] h-[20px];
                        }
                        svg {
                            @apply w-[13px] h-[13px];
                            path {
                                @apply fill-neutral-500
                            }
                        }
                    }
                }
                ul {
                    &.list-flags {
                        @apply absolute top-[27px] ml-[41px] flex flex-col gap-[5px] transition-all duration-300 scale-0 origin-top z-10 ;
                        &.show {
                            transform: translateX(0%);
                        }
                        li {
                            @apply p-0;
                            a {
                                @apply select-none cursor-pointer p-0;
                                img {
                                    @apply w-[28px] h-[20px];
                                }
                            }
                            &::before {
                                @apply !content-none;
                            }
                        }
                    }
                }
            }
        }
        .login-menu {
            @apply flex items-center justify-center gap-[20px] w-[200px];
            .login-area {
                @apply flex gap-[16px];
                label {
                    @apply w-[40px] h-[40px] rounded-[50%] bg-[#39BFB6] flex flex-col justify-center items-center;
                    span {
                        @apply text-white;
                    }
                }
    
                .login-non-member {
                    @apply flex flex-col gap-[7px];
                    a {
                        &.login-button {
                            @apply bg-[#39BFB6] text-white w-[110px] py-[5px] text-[12px]/[14px] font-medium  rounded-[4px] flex flex-col justify-center items-center;
                        }
                        &.register-button {
                            @apply text-[9px]/[11px] text-[#F0BF6B] text-center underline;
                            span {
                                @apply font-bold;
                            }
                        }
                    }
                }
                .login-member {
                    @apply flex flex-col justify-center items-center relative cursor-pointer select-none;
                    .login-icon {
                        @apply flex items-end cursor-pointer;
                        span {
                            &.chevron-icon {
                                svg {
                                    @apply w-[13px] h-[13px];
                                }
                            }
                        }
                    }
                    .login-text {
                        @apply flex flex-col justify-center items-center;
                        p {
                            @apply text-[12px]/[22px] font-semibold text-[#17494E];
                        }
                        span {
                            @apply text-[11px]/[13.31px] font-semibold text-[#AE6F2B];
                        }
                    }
                    .user-dropdown {
                        @apply bg-white rounded-[8px] flex flex-col p-[20px] absolute top-[65px] w-[144px] gap-[34px] transition-all duration-300 scale-0 origin-top;
                        box-shadow: 0px 0px 21.9px 3px #00000026;
                        ul {
                            @apply flex flex-col gap-[16px];
                            li {
                                a {
                                    @apply flex items-center gap-[8px] text-[8px]/[9.68px] text-[#374957] font-medium;
                                    svg {
                                        @apply w-[18px]
                                    }
                                }
                            }
                        }
                        button {
                            @apply bg-[#F0BF6B] text-white text-[12px]/[14.52px] rounded-[4px] h-[25px];
                        }
                        &.show {
                            transform: translateX(0%);
                        }
                    }
                }
            }
            
        }
    }
    @layer components {
        &.mobile-responsive {
            @apply p-0  h-[56px];
            .logo-area {
                img {
                    @apply w-[97px] h-[28px];
                }
            }
            .main-header-menu {
                @apply hidden;
            }
            .main-header-bottom {
                @apply px-[20px] h-[50px] bg-white; 
                .burger-menu {
                    @apply block;
                }
                .login-area {
                    @apply flex gap-[10px] relative;
                    label {
                        @apply w-[28px] h-[28px] right-[70px];
                        span {
                            @apply text-white;
                            svg {
                                @apply w-[13px] h-[13px];
                            }
                        }
                    }

                    .login-menu {
                        @apply block;
                        a {
                            &.login-button {
                                @apply w-[64px] h-[16px] text-[10px]/[12px];
                            }
                            &.register-button {
                               @apply hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-sidebar-overlay {
    @apply bg-black opacity-50 h-full w-full fixed z-10;
}

.main-sidebar-menu {
    @apply bg-white w-[300px] mr-[-300px] h-full fixed right-0 flex flex-col z-[20] justify-between transition-all duration-500 ;
    &.show {
        @apply mr-[0px];
    }
    .sidebar-menu-top {
        @apply flex flex-col gap-[29px];
        .sidebar-header {
            @apply flex justify-end items-center bg-primary px-[20px] py-[15px] rounded-bl-[19px] rounded-br-[19px];
            .sidebar-header-logo {
                svg {
                    @apply w-[71px] h-[20.11px];
                }
            }
            .sidebar-header-action {
                @apply flex gap-[8px] items-center;
            }
        }
        .sidebar-list {
            @apply overflow-y-auto px-[20px] py-[15px];
            ul {
                @apply text-black flex flex-col gap-[20px];
                li {
                    @apply text-[12px]/[14.52px] border-b border-b-black pb-[14px];
                    /* ul {
                        &.sidebar-submenu {
                            @apply p-[5px] gap-[0px] transition-all duration-500;
                            li {
                                @apply text-[12px]/[18px] font-normal;

                            }
                        }
                    } */
                }
            }
        }
    }
}